<!-- modify this form HTML and place wherever you want your form -->
<form action="https://\.io/f/mzzyeydb" method="POST"  class="wj-contact" role="form">
    <input type="text" name="name" placeholder="Full Name">
    <input type="text" name="email" placeholder="Email Address">
    <textarea type="text" name="content" rows="10" placeholder="Message"></textarea>
    <div class="g-recaptcha"
      data-sitekey="6LdIFS4UAAAAADRWvV_NUJlVK_B-7wSVhpE_oVVt"
      data-callback="onSubmit"
      data-size="invisible">
      </div>
    <input type="hidden" name="_next" value="https://www.stevennewcomb.com">
    <input type="hidden" name="_subject" value="New stevennewcomb.com Contact Form Submission">
    <input type="text" name="_gotcha" style="display:none">
    <input type="submit" class="btn btn-dark col-md-3 col-12" value="Submit">
</form>

<style>
form.wj-contact input[type="text"], form.wj-contact textarea[type="text"] {
    width: 100%;
    vertical-align: middle;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: monospace, sans-serif;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}
form.wj-contact input[type="submit"] {
    outline: none;
    color: white;
    background-color: #7b16ff;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.25em 0 0 0;
    border: 1px solid transparent;
    height: auto;
}
</style>
