---
layout: page.njk
---
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<div id="search" class="bg-white">
    </div>
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('load', function() {
        new PagefindUI({ 
            element: "#search",
        });
    });
</script>